body{
    background-color: #EEEEEE;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px;
    margin: 0px;
    color: #373A40;
}
.titulo{
    color: #DC5F00;
    font-weight: bold;
    text-align: center;
}
.subtitulo{
    color: #686D76;
}
img.img1{
    padding: 25px;
}

